.header {
  min-height: 50px;
  border-bottom: 1px solid #DEDEDE;
  padding: 0 24px;
  line-height: 50px;
}

.leftSection {
  float: left;
}

.rightSection {
  float: right;
}

.itemContainer {
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0 4px;
}

.itemContainer:hover {
  background-color: #DEDEDE;
}

.active {
  background-color: #EBEBEB;
}
